@use "./core.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles
* {
  font-family: $main-font-family;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

  height: 100vh;

  background-color: $very-dark-blue;
  color: $white;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.rating {
  display: none;
}


// Components

@import "./rating.scss";
@import "./rating-result.scss";

// Attribution

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
